#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#right {
	background-color: violet;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#left {
	background-color: pink;
	border: 1px black solid;
	padding: 50px;
	float: right;
	width: 55%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}