@import url(https://fonts.googleapis.com/css?family=News+Cycle);

.main   {
	font-family: 'News Cycle', sans-serif;
}

*	{
	padding: 0;
	margin: 0;
}


body  {
	font-size: 20px;
	color: #09136B;
}

@import url(https://fonts.googleapis.com/css?family=Satisfy);


#slogan	 {
	font-size: 30px;
	color: #5D6066;
	font-family: 'Satisfy', cursive;
}


header {
	text-align: center;
	font-size: 40px;
	background-color: #7CC6FF;
}



ul {
	font-weight: 700;
	padding-left: 40px;
	padding-bottom: 40px;
}


a  {
	text-decoration: none;
	color: #000000;
}