@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Satisfy);

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Josefin Sans';
	font-size: 18px;
	color: #09136B;
	background-color: #cccccc;
}


header {
	text-align: center;
	font-size: 40px;
	padding: 12px 0;
	background-color: #7CC6FF;
}

#slogan {
	font-size: 30px;
	color: #5D6066;
	font-family: 'Satisfy', cursive;
}

.nav {
	text-align: center;
	margin: 0;
	padding: 1em;
}


.nav li {
	display: inline-block;
	list-style: none;
	padding: .5em;
}

.image-container {
	display: block;
	margin-bottom: 2em;
	text-align: center;
}

img {
	border: 1px black solid;
	width: 50%;
}


#two_column {
	background-color: #7CC6FF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #12C6FF;
	border: 1px black solid;
	padding: 40px;
	float: left;
	width: 55%;
	line-height: 1.5em;
}

h3 {
	padding-bottom: 20px;
}

#right {
	background-color: #12C6FF;
	border: 1px black solid;
	padding-bottom: 40px;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 20px;
	float: right;
	width: 30%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

footer {
	color: #000000;
	text-align: center;
	background-color: #cccccc;
}

a {
	text-decoration: none;
	color: #000000;
}


@media only screen and (max-width: 936px){
	#left, #right {
		float: none;
		display: block;
		margin: auto;
	}

	#right {
		width: 59%;
	}
}

@media only screen and (max-width: 440px){
	h1 {
		font-size: 1.5em;
	}

	#slogan {
		font-size: 0.5em;
	}

	img {
		width: 90%;
	}


	#two_column {
		padding: 16px;
	}

	#left {
		width: 79%;
		padding: 1em;
	}

	#right {
		padding: 25px 20px 25px 32px;
		width: 74%;
	}

}
